* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    height: 100vh;
}

.container {
    display: flex;
    height: 100%;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url('landscape-7704393_1920.jpg');
}

.logo {
    width: 33vw;
    display: flex;
    background-color: rgba(0, 0, 0, 0.25);
    color: white;
    justify-content: center;
    align-items: center;
    margin-top: 9rem;
    padding: 1rem;
    font-weight: 700;
    font-size: xx-large;
    font-style: italic;
}

.logo img {
    height: 100px;
}

.credits {
    text-align: center;
}

.right {
    display: flex;
    flex-direction: column;
    background-color: beige;
}

.header {
    margin-top: 10vh;
    font-size: larger;
    font-weight: 700;
    padding: 2rem;
}

.form-container {
    padding: 2rem;
    box-shadow: 0px 15px 10px -15px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 15px 10px -15px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 15px 10px -15px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    background-color: white;
}

.form-container h2 {
    font-size: large;
    font-weight: 700;
}

.form-container form {
    display: flex;
    flex-wrap: wrap;
}

.input {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 0.25rem 0.5rem;
}

.input label {
    text-transform: uppercase;
}

.footer {
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.create-btn {
    width: 150px;
    padding: 1rem;
    border-radius: 10px;
    border: none;
    -webkit-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 2rem;
}

.footer p {
    flex-direction: row;
}

a {
    text-decoration: none;
    font-weight: 700;
    color: grey;
}